<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LegitList.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
				<key>dateExpires</key>
				<string>6/5/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CLImageEditor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EmptyDataSet_Swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SKPhotoBrowser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Smile.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftLocation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TLPhotoPicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UIFontComplete.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mailgun.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EE1D5B7CB13301A0251934CA56AC7B2B23819EA</string>
						<key>dateExpires</key>
						<string>6/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YQ37FCKXVH</string>
						<key>name</key>
						<string>Wei Zou Ang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YQ37FCKXVH.Shoutaround.ShoutaroundTest</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>YQ37FCKXVH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LegitList.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e5f52375-54ed-43bb-9461-d686a210ef36</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: Shoutaround.ShoutaroundTest</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YQ37FCKXVH</string>
				<key>name</key>
				<string>Wei Zou Ang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
